<h2>{{isEdit ? 'Edit Post' : 'Add Post'}}</h2>
<div class="card card-body mb-3">
  <form action="">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" 
          [(ngModel)]="currentPost.title" name="title" #title>
    </div>
    <div class="form-group">
      <label>Body</label>
      <textarea type="text" class="form-control" 
          [(ngModel)]="currentPost.body" name="body" 
          style="height: 120px" #body>
      </textarea>
    </div>
    <input type="hidden" [(ngModel)]="currentPost.id" name="id">
    <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-warning">Update Post</button>
    <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)" class="btn btn-dark">Add Post</button>
    <button (click)="canceled()" 
      class="{{isEdit ? 'btn btn-warning ml-3' : 'btn btn-dark ml-3'}}">
      Cancel
    </button>
  </form>
</div>